div.avatar {
    margin: 0 auto 2rem;
    max-width: 350px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

div.avatar > img {
    width: 100%;
    transform: translateY(-10%);
}

.g-sticky-top {
    position: sticky;
    top: 0;
    z-index: 1;
}

.bg-white {
    background-color: white;
}

div.tab-content {
    padding: 2rem 0 0;
}

div.main {
    padding: 2rem 0 20rem;
}
/*
[class^='col'], [class*=' col'] {
    border: 0.5px dashed #0d6efd;
}
*/
